<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   Community target dependencies for the Integration Stack Platform Tooling (JBoss Tools Integration Stack).
   JBoss Tools core as a dependency + third-party dependencies.
-->
<target name="integration-stack-community-target" sequenceNumber="7">
  <locations>

    <!-- JBoss Tools Core Community Dependencies -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.jboss.tools.community.central.feature.feature.group" version="2.1.102.v20171124-1125"/>
      <unit id="org.jboss.tools.community.project.examples.feature.feature.group" version="3.1.102.v20171124-1125"/>
      <unit id="org.jboss.tools.project.examples.feature.feature.group" version="3.1.102.v20171220-0808"/>
      <unit id="org.jboss.tools.central.feature.feature.group" version="2.1.102.v20171124-1125"/>
      <!-- <repository id="jbt-core-4.5.0.AM1" location="http://download.jboss.org/jbosstools/oxygen/staging/builds/jbosstools-4.5.0.AM1a-build-core/2017-06-13_17-51-07-B1124/all/repo/"/> -->
      <!-- <repository id="jbt-core-4.5.3.AM2" location="http://download.jboss.org/jbosstools/oxygen/staging/updates/core/4.5.3.AM2/"/> -->
      <!-- <repository id="jbt-core-4.5.2.Final" location="http://download.jboss.org/jbosstools/static/oxygen/stable/updates/core/4.5.2.Final/"/> -->
      <repository id="jbt-core-4.5.3.AM2" location="http://download.jboss.org/jbosstools/static/oxygen/development/updates/core/4.5.3.AM2/"/>
    </location>

  </locations>
</target>
