<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   JBoss Tools core as a dependency.
-->
<target name="integration-stack-core-base-target" sequenceNumber="7">
  <locations>

    <!-- JBoss Tools Core Base Dependencies
         ref: <repository loc>/site.properties -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.hibernate.eclipse.feature.feature.group" version="5.0.1.Beta2-v20160105-1529-B61"/>
      <unit id="org.jboss.ide.eclipse.archives.feature.feature.group" version="3.6.1.Beta2-v20160121-0132-B81"/>
      <unit id="org.jboss.ide.eclipse.as.feature.feature.group" version="3.1.1.Beta2-v20160121-0132-B81"/>
      <unit id="org.jboss.ide.eclipse.freemarker.feature.feature.group" version="1.5.1.Beta2-v20160105-1525-B47"/>
      <unit id="org.jboss.tools.cdi.deltaspike.feature.feature.group" version="1.7.1.Beta2-v20160108-2104-B60"/>
      <unit id="org.jboss.tools.cdi.feature.feature.group" version="1.7.1.Beta2-v20160108-2104-B60"/>
      <unit id="org.jboss.tools.cdi.seam.feature.feature.group" version="1.7.1.Beta2-v20160108-2104-B60"/>
      <unit id="org.jboss.tools.central.feature.feature.group" version="2.0.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.discovery.core" version="1.0.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.common.core.feature.feature.group" version="3.7.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.common.feature.feature.group" version="3.7.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.common.jdt.feature.feature.group" version="3.7.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.common.mylyn.feature.feature.group" version="3.7.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.common.text.ext.feature.feature.group" version="3.7.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.common.ui.feature.feature.group" version="3.7.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.common.verification.feature.feature.group" version="3.7.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.common.feature.feature.group" version="3.7.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.forge.feature.feature.group" version="2.0.2.Beta2-v20160121-2346-B70"/>
      <unit id="org.jboss.tools.forge.ext.feature.feature.group" version="2.0.2.Beta2-v20160121-2346-B70"/>
      <unit id="org.jboss.tools.foundation.feature.feature.group" version="1.2.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.foundation.security.linux.feature.feature.group" version="1.2.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.foundation.help.ui" version="1.2.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.foundation.license.feature.feature.group" version="1.2.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.jmx.feature.feature.group" version="1.7.1.Beta2-v20160121-0132-B81"/>
      <unit id="org.jboss.tools.jsf.feature.feature.group" version="3.7.1.Beta2-v20160108-2104-B60"/>
      <unit id="org.jboss.tools.jst.feature.feature.group" version="3.7.1.Beta2-v20160105-1547-B72"/>
      <unit id="org.jboss.tools.livereload.feature.feature.group" version="1.3.1.Beta2-v20160118-2140-B69"/>
      <unit id="org.jboss.tools.maven.apt.feature.feature.group" version="1.1.1.201411262015"/>
      <unit id="org.jboss.tools.maven.cdi.feature.feature.group" version="1.7.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.maven.feature.feature.group" version="1.7.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.maven.hibernate.feature.feature.group" version="1.7.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.maven.jbosspackaging.feature.feature.group" version="1.7.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.maven.jdt.feature.feature.group" version="1.7.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.maven.portlet.feature.feature.group" version="1.7.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.maven.project.examples.feature.feature.group" version="3.0.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.maven.seam.feature.feature.group" version="1.7.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.maven.sourcelookup.feature.feature.group" version="1.7.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.openshift.egit.integration.feature.feature.group" version="3.1.0.Beta2-v20160127-2128-B161"/>
      <unit id="org.jboss.tools.openshift.express.feature.feature.group" version="3.1.0.Beta2-v20160127-2128-B161"/>
      <unit id="org.jboss.tools.portlet.feature.feature.group" version="1.6.0.Final-v20141209-0339-B20"/>
      <unit id="org.jboss.tools.project.examples.feature.feature.group" version="3.0.1.Beta2-v20160121-2329-B74"/>
      <unit id="org.jboss.tools.richfaces.feature.feature.group" version="3.7.1.Beta2-v20160108-2104-B60"/>
      <unit id="org.jboss.tools.runtime.core.feature.feature.group" version="3.1.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.runtime.seam.detector.feature.feature.group" version="3.7.1.Beta2-v20160108-2104-B60"/>
      <unit id="org.jboss.tools.seam.feature.feature.group" version="3.7.1.Beta2-v20160108-2104-B60"/>
      <unit id="org.jboss.tools.stacks.core.feature.feature.group" version="1.2.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.usage" version="2.1.1.Beta2-v20160127-2129-B77"/>
      <unit id="org.jboss.tools.browsersim.feature.feature.group" version="3.7.1.Beta2-v20160105-1602-B64"/>
      <unit id="org.jboss.tools.vpe.feature.feature.group" version="3.7.1.Beta2-v20160122-0142-B71"/>
      <unit id="org.jboss.tools.ws.feature.feature.group" version="1.8.1.Beta2-v20160120-1045-B54"/>
      <unit id="org.jboss.tools.ws.jaxrs.feature.feature.group" version="1.8.1.Beta2-v20160120-1045-B54"/>
      <unit id="org.jboss.tools.wtp.runtimes.tomcat.feature.feature.group" version="1.3.1.Beta2-v20160121-0132-B81"/>
      <unit id="org.mozilla.xpcom" version="1.9.2.16"/>

      <repository location="http://download.jboss.org/jbosstools/static/mars/development/updates/core/4.3.1.Beta2"/>
      <!-- <repository location="http://download.jboss.org/jbosstools/mars/stable/updates/core/"/>
      <repository location="http://download.jboss.org/jbosstools/mars/staging/updates/core/4.3.1.Beta1/"/>
      <repository location="http://download.jboss.org/jbosstools/mars/snapshots/builds/jbosstools-build-sites.aggregate.site_4.3.mars/2015-12-10_09-44-25-B172/all/repo/"/>  -->
   </location>

  </locations>
</target>
