<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   JBoss Tools core as an Integration Stack component dependency.
-->
<target name="integration-stack-core-base-target" sequenceNumber="7">
  <locations>

    <!-- JBoss Tools Core Base Dependencies
         ref: <repository loc>/site.properties -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
       <unit id="org.hibernate.eclipse.feature.feature.group" version="5.2.1.v20171004-0655"/>
       <unit id="org.jboss.ide.eclipse.archives.feature.feature.group" version="3.6.111.v20170811-1737"/>
       <unit id="org.jboss.ide.eclipse.as.feature.feature.group" version="3.3.1.v20170929-1921"/>
       <unit id="org.jboss.tools.cdi.deltaspike.feature.feature.group" version="1.8.200.v20170908-0911"/>
       <unit id="org.jboss.tools.cdi.feature.feature.group" version="1.8.200.v20170907-1549"/>
       <unit id="org.jboss.tools.cdi.seam.feature.feature.group" version="1.8.200.v20170908-0911"/>
       <unit id="org.jboss.tools.central.feature.feature.group" version="2.1.101.v20171003-2126"/>
       <unit id="org.jboss.tools.discovery.core" version="1.2.101.v20170822-1709"/>
       <unit id="org.jboss.tools.common.core.feature.feature.group" version="3.9.1.v20170908-0905"/>
       <unit id="org.jboss.tools.common.feature.feature.group" version="3.9.1.v20170908-0905"/>
       <unit id="org.jboss.tools.common.jdt.feature.feature.group" version="3.9.1.v20170821-1410"/>
       <unit id="org.jboss.tools.common.mylyn.feature.feature.group" version="3.9.1.v20170908-0905"/>
       <unit id="org.jboss.tools.common.text.ext.feature.feature.group" version="3.9.1.v20170908-0905"/>
       <unit id="org.jboss.tools.common.ui.feature.feature.group" version="3.9.1.v20170908-0905"/>
       <unit id="org.jboss.tools.common.verification.feature.feature.group" version="3.9.1.v20170908-0905"/>
       <unit id="org.jboss.tools.common.feature.feature.group" version="3.9.1.v20170908-0905"/>
       <unit id="org.jboss.tools.foundation.feature.feature.group" version="1.4.1.v20170929-2122"/>
       <unit id="org.jboss.tools.foundation.security.linux.feature.feature.group" version="1.4.1.v20170908-0905"/>
       <unit id="org.jboss.tools.foundation.help.ui" version="1.4.1.v20170821-1410"/>
       <unit id="org.jboss.tools.foundation.license.feature.feature.group" version="1.4.1.v20170821-1410"/>
       <unit id="org.jboss.tools.jmx.feature.feature.group" version="1.10.1.v20170906-2003"/>
       <unit id="org.jboss.tools.jsf.feature.feature.group" version="3.8.200.v20170908-0911"/>
       <unit id="org.jboss.tools.jst.feature.feature.group" version="3.8.100.v20170908-1353"/>
       <unit id="org.jboss.tools.maven.apt.feature.feature.group" version="1.3.0.201610261805"/>
       <unit id="org.jboss.tools.maven.cdi.feature.feature.group" version="1.8.101.v20170822-1709"/>
       <unit id="org.jboss.tools.maven.feature.feature.group" version="1.8.101.v20170822-1709"/>
       <unit id="org.jboss.tools.maven.hibernate.feature.feature.group" version="1.8.101.v20170822-1709"/>
       <unit id="org.jboss.tools.maven.jbosspackaging.feature.feature.group" version="1.8.101.v20170822-1709"/>
       <unit id="org.jboss.tools.maven.jdt.feature.feature.group" version="1.8.101.v20170822-1709"/>
       <unit id="org.jboss.tools.maven.portlet.feature.feature.group" version="1.8.101.v20170822-1709"/>
       <unit id="org.jboss.tools.maven.project.examples.feature.feature.group" version="3.1.101.v20170822-1709"/>
       <unit id="org.jboss.tools.maven.seam.feature.feature.group" version="1.8.101.v20170822-1709"/>
       <unit id="org.jboss.tools.maven.sourcelookup.feature.feature.group" version="1.8.101.v20170822-1709"/>
       <unit id="org.jboss.tools.openshift.cdk.feature.feature.group" version="3.4.1.v20171004-1728"/>
       <unit id="org.jboss.tools.openshift.egit.integration.feature.feature.group" version="3.4.1.v20170815-1822"/>
       <unit id="org.jboss.tools.openshift.express.feature.feature.group" version="3.4.1.v20170927-2100"/>
       <unit id="org.jboss.tools.openshift.feature.feature.group" version="3.4.1.v20171005-1227"/>
       <unit id="org.jboss.tools.openshift.js.feature.feature.group" version="3.4.1.v20171004-1725"/>
       <unit id="org.jboss.tools.portlet.feature.feature.group" version="1.6.0.Final-v20141209-0339-B20"/>
       <unit id="org.jboss.tools.project.examples.feature.feature.group" version="3.1.101.v20170822-1709"/>
       <unit id="org.jboss.tools.runtime.core.feature.feature.group" version="3.3.1.v20170929-1931"/>
       <unit id="org.jboss.tools.runtime.seam.detector.feature.feature.group" version="3.8.200.v20170822-1712"/>
       <unit id="org.jboss.tools.seam.feature.feature.group" version="3.8.200.v20170822-1712"/>
       <unit id="org.jboss.tools.stacks.core.feature.feature.group" version="1.4.1.v20170908-0905"/>
       <unit id="org.jboss.tools.usage" version="2.2.101.v20170908-0905"/>
       <unit id="org.jboss.tools.vpe.feature.feature.group" version="3.8.100.v20170908-0908"/>
       <unit id="org.mozilla.xpcom" version="1.9.2.16"/>

      <!-- <repository id="jbt-core-4.5.0.AM1" location="http://download.jboss.org/jbosstools/oxygen/staging/builds/jbosstools-4.5.0.AM1a-build-core/2017-06-13_17-51-07-B1124/all/repo/"/> -->
      <repository id="jbt-core-4.5.1.AM3" location="http://download.jboss.org/jbosstools/oxygen/staging/updates/core/4.5.1.AM3/"/>
      <!-- <repository id="jbt-core-4.5.0.Final" location="http://download.jboss.org/jbosstools/static/oxygen/stable/updates/core/4.5.0.Final/"/> -->
    </location>

  </locations>
</target>
