<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   JBoss Tools core as an Integration Stack component dependency.
-->
<target name="integration-stack-core-base-target" sequenceNumber="7">
  <locations>

    <!-- JBoss Tools Core Base Dependencies
         ref: <repository loc>/site.properties -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
       <unit id="org.hibernate.eclipse.feature.feature.group" version="5.1.4.v20170413-1729"/>
       <unit id="org.jboss.ide.eclipse.archives.feature.feature.group" version="3.6.104.v20170308-1740"/>
       <unit id="org.jboss.ide.eclipse.as.feature.feature.group" version="3.2.4.v20170510-2349"/>
       <unit id="org.jboss.ide.eclipse.freemarker.feature.feature.group" version="1.5.300.v20161214-1103"/>
       <unit id="org.jboss.tools.cdi.deltaspike.feature.feature.group" version="1.8.3.v20161214-1452"/>
       <unit id="org.jboss.tools.cdi.feature.feature.group" version="1.8.3.v20161214-1452"/>
       <unit id="org.jboss.tools.cdi.seam.feature.feature.group" version="1.8.3.v20161214-1452"/>
       <unit id="org.jboss.tools.central.feature.feature.group" version="2.1.4.v20170420-1310"/>
       <unit id="org.jboss.tools.discovery.core" version="1.2.3.v20161214-0939"/>
       <unit id="org.jboss.tools.common.core.feature.feature.group" version="3.8.4.v20170316-1803"/>
       <unit id="org.jboss.tools.common.feature.feature.group" version="3.8.4.v20170316-1803"/>
       <unit id="org.jboss.tools.common.jdt.feature.feature.group" version="3.8.4.v20170316-1803"/>
       <unit id="org.jboss.tools.common.mylyn.feature.feature.group" version="3.8.4.v20170315-2230"/>
       <unit id="org.jboss.tools.common.text.ext.feature.feature.group" version="3.8.4.v20170316-1803"/>
       <unit id="org.jboss.tools.common.ui.feature.feature.group" version="3.8.4.v20170316-1803"/>
       <unit id="org.jboss.tools.common.verification.feature.feature.group" version="3.8.4.v20170316-1803"/>
       <unit id="org.jboss.tools.common.feature.feature.group" version="3.8.4.v20170316-1803"/>
       <unit id="org.jboss.tools.foundation.feature.feature.group" version="1.3.4.v20170511-0227"/>
       <unit id="org.jboss.tools.foundation.security.linux.feature.feature.group" version="1.3.4.v20170316-1803"/>
       <unit id="org.jboss.tools.foundation.help.ui" version="1.3.4.v20170316-1803"/>
       <unit id="org.jboss.tools.foundation.license.feature.feature.group" version="1.3.4.v20170316-1803"/>
       <unit id="org.jboss.tools.jmx.feature.feature.group" version="1.9.0.v20170503-1906"/>
       <unit id="org.jboss.tools.jsf.feature.feature.group" version="3.8.3.v20161214-1452"/>
       <unit id="org.jboss.tools.jst.feature.feature.group" version="3.8.3.v20161214-1634"/>
       <unit id="org.jboss.tools.maven.apt.feature.feature.group" version="1.3.0.201610261805"/>
       <unit id="org.jboss.tools.maven.cdi.feature.feature.group" version="1.8.3.v20161214-0939"/>
       <unit id="org.jboss.tools.maven.feature.feature.group" version="1.8.4.v20170420-1310"/>
       <unit id="org.jboss.tools.maven.hibernate.feature.feature.group" version="1.8.3.v20161214-0939"/>
       <unit id="org.jboss.tools.maven.jbosspackaging.feature.feature.group" version="1.8.3.v20161214-0939"/>
       <unit id="org.jboss.tools.maven.jdt.feature.feature.group" version="1.8.3.v20161214-0939"/>
       <unit id="org.jboss.tools.maven.portlet.feature.feature.group" version="1.8.3.v20161214-0939"/>
       <unit id="org.jboss.tools.maven.project.examples.feature.feature.group" version="3.1.3.v20161214-0939"/>
       <unit id="org.jboss.tools.maven.seam.feature.feature.group" version="1.8.3.v20161214-0939"/>
       <unit id="org.jboss.tools.maven.sourcelookup.feature.feature.group" version="1.8.3.v20161214-0939"/>
       <unit id="org.jboss.tools.openshift.cdk.feature.feature.group" version="3.3.3.v20170510-2258"/>
       <unit id="org.jboss.tools.openshift.egit.integration.feature.feature.group" version="3.3.3.v20170405-1252"/>
       <unit id="org.jboss.tools.openshift.express.feature.feature.group" version="3.3.3.v20170510-1453"/>
       <unit id="org.jboss.tools.openshift.feature.feature.group" version="3.3.3.v20170511-1321"/>
       <unit id="org.jboss.tools.openshift.js.feature.feature.group" version="3.3.3.v20170502-0607"/>
       <unit id="org.jboss.tools.portlet.feature.feature.group" version="1.6.0.Final-v20141209-0339-B20"/>
       <unit id="org.jboss.tools.project.examples.feature.feature.group" version="3.1.3.v20170210-2258"/>
       <unit id="org.jboss.tools.runtime.core.feature.feature.group" version="3.2.4.v20170418-1849"/>
       <unit id="org.jboss.tools.runtime.seam.detector.feature.feature.group" version="3.8.3.v20161214-1452"/>
       <unit id="org.jboss.tools.seam.feature.feature.group" version="3.8.3.v20161214-1452"/>
       <unit id="org.jboss.tools.stacks.core.feature.feature.group" version="1.3.3.v20161213-1258"/>
       <unit id="org.jboss.tools.usage" version="2.2.4.v20170505-1848"/>
       <unit id="org.jboss.tools.vpe.feature.feature.group" version="3.8.3.v20170117-2000"/>
       <unit id="org.mozilla.xpcom" version="1.9.2.16"/>

      <!-- <repository location="http://download.jboss.org/jbosstools/neon/snapshots/builds/jbosstools-build-sites.aggregate.site_master/2016-04-22_12-52-32-B12137/all/repo/"/> -->
      <repository id="jbt-core-4.4.4.Final" location="http://download.jboss.org/jbosstools/static/neon/stable/updates/core/4.4.4.Final/"/>
      <!-- <repository id="jbt-core-4.4.3.AM2" location="http://download.jboss.org/jbosstools/static/neon/development/updates/core/4.4.3.AM2/"/> -->
      <!-- <repository location="http://download.jboss.org/jbosstools/neon/snapshots/updates/core/master"/> -->
      <!-- <repository id="jbt-core-4.4.3.Final" location="http://download.jboss.org/jbosstools/neon/staging/updates/core/4.4.3.Final/"/> -->
      <!-- <repository id="jbt-core-4.4.3.Final" location="http://download.jboss.org/jbosstools/neon/stable/updates/core/"/> -->
    </location>

  </locations>
</target>
