<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   Mirrored third-party and Eclipse dependencies for the JBoss Tools Integration Stack.

   This target file should only contain released features/ plugins.  For non released 
   artifacts see integration-stack-base-ea.target.
-->
<target name="integration-stack-base-target" sequenceNumber="7">
  <locations>
    
   <!-- JBoss Tools Core Tests -->
   <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">

      <!-- Required by BPEL, ESB, and any projects w/ UI tests -->
      <!-- TODO: consider migrating UI tests to https://github.com/jbosstools/jbosstools-integration-tests/ so they're built downstream instead of within the components' builds -->
      <!-- <unit id="org.jboss.tools.test.feature.feature.group" version="3.6.0.Final-v20150924-2213-B38"/> -->
      <unit id="org.jboss.tools.tests" version="3.7.0.Alpha1-v20160511-2035-B942"/>
      <unit id="org.jboss.tools.as.test.core" version="3.2.0.Alpha1-v20160519-0029-B970"/>
      <unit id="org.jboss.tools.common.base.test" version="3.8.0.Alpha1-v20160511-2035-B942"/>
      <unit id="org.jboss.tools.common.test" version="3.8.0.Alpha1-v20160511-2035-B942"/>
      <unit id="org.jboss.tools.jmx.core.test" version="1.8.0.Alpha1-v20160519-0029-B970"/>

      <!-- <repository location="http://download.jboss.org/jbosstools/neon/snapshots/builds/jbosstools-build-sites.aggregate.coretests-site_master/2016-04-22_12-52-32-B5049/all/repo/"/> -->
      <!-- <repository location="http://download.jboss.org/jbosstools/static/mars/development/updates/coretests/4.3.1.Beta2/"/>  -->
      <!-- <repository location="http://download.jboss.org/jbosstools/static/mars/stable/updates/coretests/4.3.0.Final/"/> -->
      <!-- <repository location="http://download.jboss.org/jbosstools/mars/staging/updates/coretests/4.3.1.CR1a/"/> -->
      <repository location="http://download.jboss.org/jbosstools/neon/staging/updates/coretests/4.4.0.Alpha2/"/>
   </location>

   <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.jboss.tools.common" version="3.8.0.Alpha1-v20160511-2035-B942"/>

      <!-- <repository location="http://download.jboss.org/jbosstools/neon/snapshots/builds/jbosstools-build-sites.aggregate.site_master/2016-04-22_12-52-32-B12137/all/repo/"/> -->
      <!-- <repository location="http://download.jboss.org/jbosstools/static/mars/development/updates/core/4.3.1.Beta2"/> -->
      <!-- <repository location="http://download.jboss.org/jbosstools/mars/stable/updates/core/"/> -->
      <!-- <repository location="http://download.jboss.org/jbosstools/mars/staging/updates/core/4.3.1.CR1a/"/> -->
      <repository location="http://download.jboss.org/jbosstools/neon/staging/updates/core/4.4.0.Alpha2/"/>
   </location>

  </locations>
</target>
