<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   Mirrored third-party and Eclipse dependencies for the JBoss Tools Integration Stack.
   This target file contains all dependent features/ plugins to form the early access target platform.
-->
<target name="integration-stack-base-ea-target" sequenceNumber="7">
  <locations>

   <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.jboss.tools.common" version="3.9.2.v20180104-1618"/>

      <!-- <repository id="jbt-core-4.5.1.Final" location="http://download.jboss.org/jbosstools/static/oxygen/stable/updates/core/4.5.1.Final/"/> -->
      <repository id="jbt-core-4.5.2.Final" location="http://download.jboss.org/jbosstools/oxygen/staging/updates/core/4.5.2.Final/"/>
   </location>

  </locations>
</target>
