<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   Community target dependencies for the JBDS Integration Stack Platform Tooling (JBoss Tools Integration Stack).
   JBoss Tools core as a dependency + third-party dependencies.
-->
<target name="integration-stack-community-target" sequenceNumber="7">
  <locations>

    <!-- JBoss Tools Core Community Dependencies -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.jboss.tools.birt.feature.feature.group" version="1.6.0.Beta1-v20140321-0450-B3"/>
      <unit id="org.jboss.tools.community.central.feature.feature.group" version="1.3.0.Beta1-v20140408-0006-B27"/>
      <unit id="org.jboss.tools.community.project.examples.feature.feature.group" version="1.6.0.Beta1-v20140408-0006-B27"/>

      <repository location="http://download.jboss.org/jbosstools/static/releases/JBossTools-4.2.0.Beta1.core/"/>
    </location>

  </locations>
</target>
