<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   Community target dependencies for the JBDS Integration Stack Platform Tooling (JBoss Tools Integration Stack).
   JBoss Tools core as a dependency + third-party dependencies.
-->
<target name="integration-stack-community-target" sequenceNumber="7">
  <locations>

    <!-- JBoss Tools Core Community Dependencies -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.jboss.tools.birt.feature.feature.group" version="1.7.0.Final-v20141209-0111-B18"/>
      <unit id="org.jboss.tools.community.central.feature.feature.group" version="1.3.2.Final-v20150109-2320-B116"/>
      <unit id="org.jboss.tools.community.project.examples.feature.feature.group" version="2.0.1.Final-v20150109-2320-B116"/>

      <repository location="http://download.jboss.org/jbosstools/static/releases/jbosstools-4.2.3.Beta1-updatesite-core/"/>
    </location>

  </locations>
</target>
