<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   JBoss Tools core as a dependency.
-->
<target name="integration-stack-core-base-target" sequenceNumber="7">
  <locations>

    <!-- JBoss Tools Core Base Dependencies
         ref: <repository loc>/site.properties -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.hibernate.eclipse.feature.feature.group" version="5.0.1.Beta1-v20151209-0006-B54"/>
      <unit id="org.jboss.ide.eclipse.archives.feature.feature.group" version="3.6.1.Beta1-v20151208-0926-B67"/>
      <unit id="org.jboss.ide.eclipse.as.feature.feature.group" version="3.1.1.Beta1-v20151208-0926-B67"/>
      <unit id="org.jboss.ide.eclipse.freemarker.feature.feature.group" version="1.5.1.Beta1-v20151023-1401-B29"/>
      <unit id="org.jboss.tools.cdi.deltaspike.feature.feature.group" version="1.7.1.Beta1-v20151124-0502-B49"/>
      <unit id="org.jboss.tools.cdi.feature.feature.group" version="1.7.1.Beta1-v20151124-0502-B49"/>
      <unit id="org.jboss.tools.cdi.seam.feature.feature.group" version="1.7.1.Beta1-v20151124-0502-B49"/>
      <unit id="org.jboss.tools.central.feature.feature.group" version="2.0.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.discovery.core" version="1.0.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.common.core.feature.feature.group" version="3.7.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.common.feature.feature.group" version="3.7.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.common.jdt.feature.feature.group" version="3.7.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.common.mylyn.feature.feature.group" version="3.7.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.common.text.ext.feature.feature.group" version="3.7.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.common.ui.feature.feature.group" version="3.7.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.common.verification.feature.feature.group" version="3.7.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.common.feature.feature.group" version="3.7.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.forge.feature.feature.group" version="2.0.1.Beta1-v20151209-2350-B56"/>
      <unit id="org.jboss.tools.forge.ext.feature.feature.group" version="2.0.1.Beta1-v20151209-2350-B56"/>
      <unit id="org.jboss.tools.foundation.feature.feature.group" version="1.2.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.foundation.security.linux.feature.feature.group" version="1.2.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.foundation.help.ui" version="1.2.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.foundation.license.feature.feature.group" version="1.2.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.jmx.feature.feature.group" version="1.7.1.Beta1-v20151208-0926-B67"/>
      <unit id="org.jboss.tools.jsf.feature.feature.group" version="3.7.1.Beta1-v20151124-0502-B49"/>
      <unit id="org.jboss.tools.jst.feature.feature.group" version="3.7.1.Beta1-v20151208-1956-B65"/>
      <unit id="org.jboss.tools.livereload.feature.feature.group" version="1.3.1.Beta2-v20151210-1352-B55"/>
      <unit id="org.jboss.tools.maven.apt.feature.feature.group" version="1.1.1.201411262015"/>
      <unit id="org.jboss.tools.maven.cdi.feature.feature.group" version="1.7.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.maven.feature.feature.group" version="1.7.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.maven.hibernate.feature.feature.group" version="1.7.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.maven.jbosspackaging.feature.feature.group" version="1.7.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.maven.jdt.feature.feature.group" version="1.7.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.maven.portlet.feature.feature.group" version="1.7.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.maven.project.examples.feature.feature.group" version="3.0.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.maven.seam.feature.feature.group" version="1.7.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.maven.sourcelookup.feature.feature.group" version="1.7.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.openshift.egit.integration.feature.feature.group" version="3.1.0.Beta1-v20151210-1135-B115"/>
      <unit id="org.jboss.tools.openshift.express.feature.feature.group" version="3.1.0.Beta1-v20151210-1135-B115"/>
      <unit id="org.jboss.tools.portlet.feature.feature.group" version="1.6.0.Final-v20141209-0339-B20"/>
      <unit id="org.jboss.tools.project.examples.feature.feature.group" version="3.0.1.Beta1-v20151116-2016-B57"/>
      <unit id="org.jboss.tools.richfaces.feature.feature.group" version="3.7.1.Beta1-v20151124-0502-B49"/>
      <unit id="org.jboss.tools.runtime.core.feature.feature.group" version="3.1.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.runtime.seam.detector.feature.feature.group" version="3.7.1.Beta1-v20151124-0502-B49"/>
      <unit id="org.jboss.tools.seam.feature.feature.group" version="3.7.1.Beta1-v20151124-0502-B49"/>
      <unit id="org.jboss.tools.stacks.core.feature.feature.group" version="1.2.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.usage" version="2.1.1.Beta1-v20151207-2136-B58"/>
      <unit id="org.jboss.tools.browsersim.feature.feature.group" version="3.7.1.Beta2-v20151210-1410-B59"/>
      <unit id="org.jboss.tools.vpe.feature.feature.group" version="3.7.1.Beta1-v20151016-1927-B46"/>
      <unit id="org.jboss.tools.ws.feature.feature.group" version="1.8.1.Beta1-v20151021-1531-B32"/>
      <unit id="org.jboss.tools.ws.jaxrs.feature.feature.group" version="1.8.1.Beta1-v20151021-1531-B32"/>
      <unit id="org.jboss.tools.wtp.runtimes.tomcat.feature.feature.group" version="1.3.1.Beta1-v20151208-0926-B67"/>
      <unit id="org.mozilla.xpcom" version="1.9.2.16"/>

      <!-- <repository location="http://download.jboss.org/jbosstools/mars/stable/updates/core/"/> -->
      <!-- <repository location="http://download.jboss.org/jbosstools/mars/staging/updates/core/4.3.0.CR1a/"/> -->
      <repository location="http://download.jboss.org/jbosstools/mars/snapshots/builds/jbosstools-build-sites.aggregate.site_4.3.mars/2015-12-10_09-44-25-B172/all/repo/"/> 
   </location>

  </locations>
</target>
