<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   Mirrored third-party and Eclipse dependencies for the JBoss Tools Integration Stack.

   This target file contains all dependent features/ plugins to form the early access target platform.
-->
<target name="integration-stack-base-target" sequenceNumber="7">
  <locations>

    <!-- BPEL -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.bpel.common.feature.feature.group" version="1.0.4.v201412041949"/>
      <unit id="org.eclipse.bpel.feature.feature.group" version="1.0.4.v201412041949"/>
      <unit id="org.eclipse.bpel.apache.ode.runtime.feature.feature.group" version="1.0.4.v201412041949"/>
      <unit id="org.eclipse.bpel.common.feature.source.feature.group" version="1.0.4.v201412041949"/>
      <unit id="org.eclipse.bpel.feature.source.feature.group" version="1.0.4.v201412041949"/>
      <unit id="org.eclipse.bpel.apache.ode.runtime.feature.source.feature.group" version="1.0.4.v201412041949"/>
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/bpel/1.0.4.v201412041949/"/>
    </location>

    <!-- JBoss Tools Locus - objects either not in Eclipse Orbit or needed sooner than scheduled. -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.apache.servicemix.bundles.aopalliance" version="1.0.0.3"/>

      <unit id="org.jboss.tools.locus.jcip.annotations" version="1.0.0.v20131024-0922"/>
      <unit id="org.jboss.tools.locus.sf.saxon" version="9.5.1.v20150427-1451"/>

      <unit id="org.springframework.aspects" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.osgi.core" version="1.2.1"/>
      <unit id="org.springframework.osgi.extender" version="1.2.1"/>
      <unit id="org.springframework.osgi.extensions.annotations" version="1.2.1"/>
      <unit id="org.springframework.osgi.io" version="1.2.1"/>
      <repository location="https://repository.jboss.org/nexus/content/unzip/unzip/org/jboss/tools/locus/update.site/1.2.0.Final/update.site-1.2.0.Final.zip-unzip/"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">

      <!-- Eclipse EMF -->
      <unit id="org.eclipse.emf.compare.feature.group" version="3.1.0.201505051321"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.1.0.201505051321"/>
      <unit  id="org.eclipse.emf.compare.rcp" version="2.3.0.201505051321"/>
      <unit  id="org.eclipse.emf.compare.rcp.ui" version="4.1.0.201505051321"/>

      <!-- Eclipse EMF/OCL + deps like EMF Query and UML2 -->
      <unit id="org.eclipse.emf.validation.ocl.feature.group" version="1.9.0.201503250348"/>
      <unit id="org.eclipse.emf.query.ocl.feature.group" version="1.9.0.201503250423"/>
      <unit id="org.eclipse.emf.query.feature.group" version="1.9.0.201503250423"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="1.9.0.201503250534"/>
      <unit id="org.eclipse.emf.validation.feature.group" version="1.9.0.201503250348"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="1.9.0.201503250534"/>

      <unit id="org.eclipse.uml2.feature.group" version="5.1.0.v20150504-0916"/>

      <!-- Google Guava : Eclipse EMF -->
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>

      <!-- Eclipse OCL/ALL -->
      <unit id="org.eclipse.ocl.all.feature.group" version="5.1.0.v20150410-1135"/>

      <unit id="javax.ws.rs" version="1.1.1.v20130318-1750"/>
      <!-- <unit id="javax.xml.bind" version="2.1.9.v201005080401"/> -->

      <!-- transitive dependencies -->
      <unit id="com.ibm.icu" version="54.1.1.v201501272100"/>
      <unit id="javax.xml" version="1.3.4.v201005080400"/>
      <unit id="org.apache.ant" version="1.9.4.v201410062020"/>
      <unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
      <unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
      <unit id="org.apache.commons.logging" version="1.0.4.v201101211617"/>
      <unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>

      <unit id="org.eclipse.draw2d" version="3.10.0.201505040206"/>
      <unit id="org.eclipse.equinox.simpleconfigurator.manipulator" version="2.0.100.v20150423-1455"/>
      <unit id="org.eclipse.jdt.junit.core" version="3.7.400.v20150423-0747"/>
      <unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
      <unit id="org.jsoup" version="1.7.2.v201304221138"/>
      <unit id="org.junit" version="4.11.0.v201303080030"/>

      <!-- Teiid -->
      <unit id="org.apache.poi" version="3.9.0.v201303080712"/>
      <unit id="org.eclipse.birt.report.data.oda.hive.ui" version="4.5.0.v201501061437"/>
      <unit id="org.eclipse.birt.report.data.oda.hive" version="4.5.0.v201501061437"/>
      <unit id="org.eclipse.birt.report.data.oda.jdbc.ui" version="4.5.0.v201501061437"/>
      <unit id="org.eclipse.birt.report.data.oda.jdbc" version="4.5.0.v201501061437"/>
      <unit id="org.eclipse.birt.report.data.bidi.utils.ui" version="4.5.0.v201501061437"/>
      <unit id="org.eclipse.birt.report.data.bidi.utils" version="4.5.0.v201501061437"/>
      <unit id="org.eclipse.birt.data.oda.mongodb.ui" version="4.5.0.v201501061437"/>
      <unit id="org.eclipse.birt.data.oda.mongodb" version="4.5.0.v201501061437"/>
      <unit id="org.eclipse.orbit.mongodb" version="2.10.1.v20130422-1135"/>
      <unit id="org.eclipse.birt.core" version="4.5.0.v201501081716"/>

      <!-- BPMN2 Modeler -->
      <unit id="org.eclipse.graphiti.feature.feature.group" version="0.12.0.v20150325-0826"/>
      <unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.12.0.v20150325-0826"/>
      
      <unit id="org.eclipse.core.net" version="1.2.300.v20141118-1725"/>
      <unit id="org.eclipse.equinox.cm" version="1.1.100.v20150205-1358"/>
      <unit id="org.eclipse.equinox.security" version="1.2.100.v20150423-1356"/>      

      <!-- Fuse Tooling -->
      <unit id="org.eclipse.tm.terminal.feature.feature.group" version="4.0.0.201505051502"/>      

      <repository location="http://download.jboss.org/jbosstools/updates/requirements/mars/201505081000-M7/"/>
    </location>

    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">

      <!-- Fuse Tooling Data Transformation -->
      <unit id="org.apache.xmlbeans" version="2.3.0.v201405241900"/>

      <!-- Teiid -->
      <unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
      <unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
      <unit id="javax.xml.soap" version="1.3.0.v201105210645"/>
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/orbit/R20150124073747/"/>
    </location>

    <!-- transitive dependencies for org.springframework.* (Fuse Tooling) -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.springframework.aop" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.beans" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.context" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.core" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.expression" version="3.1.4.RELEASE"/>
      <unit id="org.springframework.transaction" version="3.1.4.RELEASE"/>
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/springide/3.2.0.201303060654-RELEASE-e4.3/"/>
    </location>

    <!-- Fuse Tooling -->
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.gemini.management" version="2.0.0.RELEASE"/>
      <repository location="http://download.jboss.org/jbosstools/updates/requirements/gemini/2.0.0.RELEASE/"/>
    </location>

  </locations>
</target>
