<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   Mirrored third-party and Eclipse dependencies for the JBoss Tools Integration Stack.

   This target file should only contain released features/ plugins.  For non released 
   artifacts see integration-stack-base-ea.target.
-->
<target name="integration-stack-base-target" sequenceNumber="7">
  <locations>

   <!-- JBoss Tools Core Tests -->
   <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">

      <!-- Required by BPEL, ESB, and any projects w/ UI tests -->
      <!-- TODO: consider migrating UI tests to https://github.com/jbosstools/jbosstools-integration-tests/ so they're built downstream instead of within the components' builds -->
      <unit id="org.jboss.tools.tests" version="3.6.0.Beta1-v20150608-1702-B21"/>
      <unit id="org.jboss.tools.as.test.core" version="3.1.0.Beta1-v20150612-2158-B25"/>
      <unit id="org.jboss.tools.common.base.test" version="3.7.0.Beta1-v20150608-1702-B21"/>
      <unit id="org.jboss.tools.common.test" version="3.7.0.Beta1-v20150608-1702-B21"/>
      <unit id="org.jboss.tools.jmx.core.test" version="1.7.0.Beta1-v20150612-2158-B25"/>

      <repository location="http://download.jboss.org/jbosstools/mars/staging/updates/coretests/4.3.0.Beta1a/"/>
   </location>

   <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
      <unit id="org.jboss.tools.common" version="3.7.0.Beta1-v20150608-1702-B21"/>

      <!-- "http://download.jboss.org/jbosstools/mars/staging/updates/core/4.3.0.Beta1c/" -->
      <repository location="http://download.jboss.org/jbosstools/static/mars/development/updates/core/4.3.0.Beta1/"/>
   </location>

  </locations>
</target>
