<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<!-- 
   Mirrored third-party and Eclipse dependencies for the JBoss Tools Integration Stack.

   This target file should only contain released features/ plugins.  For non released 
   artifacts see integration-stack-base-ea.target.
-->
<target name="integration-stack-base-target" sequenceNumber="7">
  <locations>

   <!-- JBoss Tools Core Tests -->
   <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">

      <!-- Required by BPEL, ESB, and any projects w/ UI tests -->
      <!-- TODO: consider migrating UI tests to https://github.com/jbosstools/jbosstools-integration-tests/ so they're built downstream instead of within the components' builds -->
      <unit id="org.jboss.tools.tests" version="3.6.0.Beta2-v20150605-1701-B738"/>
      <unit id="org.jboss.tools.as.test.core" version="3.1.0.Beta2-v20150605-0027-B774"/>
      <unit id="org.jboss.tools.common.base.test" version="3.7.0.Beta2-v20150605-1701-B738"/>
      <unit id="org.jboss.tools.common.test" version="3.7.0.Beta2-v20150605-1701-B738"/>
      <unit id="org.jboss.tools.jmx.core.test" version="1.7.0.Beta2-v20150605-0027-B774"/>

      <!-- <repository location="http://download.jboss.org/jbosstools/static/releases/jbosstools-4.3.0.Alpha1-updatesite-coretests/"/> -->
      <repository location="http://download.jboss.org/jbosstools/mars/snapshots/updates/coretests/master/"/>
      <repository location="http://download.jboss.org/jbosstools/mars/staging/updates/coretests/4.3.0.Beta1/"/>
   </location>

  </locations>
</target>
